// Vuetify SCSS variables - required by vite-plugin-vuetify
// Note: This file is optional when using styles: 'sass' in vite.config.ts
// If you need custom Vuetify variables, uncomment and configure below:

// @use 'vuetify' with (
//   $color-pack: true
// );